/*=============== VARIABLES CSS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --background-color: rgb(255, 255, 255);
    --preloader-background-color: rgb(255, 255, 255);
    --preloader-text-color: hsl(210, 30%, 10%);
    --secondary-color: hsl(0, 0%, 65%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Quicksand",  sans-serif;
    --second-font: Serif;
    --h3-font-size: 1rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100; 
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #fff;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rtc_media_player {
    max-width: 95%;
    max-height: 95vh;
    border-radius: 18px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
    background: #000000;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    cursor: pointer;
    object-fit: contain;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.form {
    max-width: 60rem;
}

.form__radios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
}

.form__radio {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    row-gap: .8rem;
    margin-top: 1rem;
}

.form__radio p {
    grid-column: 1 / -1;
}

.form__inputs {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin-top: 4rem;
}

.form__inputs input,
.form__radios input {
    margin-bottom: 1rem;
    background-color: #556;
    border: none;
    padding: 1rem 1.5rem;
    color: inherit;
    outline: transparent;
}

.form__buttons {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 2fr));
    gap: 1rem 2rem;
}

.toast .btn {
    background-color: #778;
    color: inherit;
    border: none;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #556;
}

.btn--success {
    background-color: rgb(21, 173, 89);
}

.btn--success:hover {
    background-color: rgb(12, 134, 67);
}

.btn--error {
    background-color: rgb(199, 29, 66);
}

.btn--error:hover {
    background-color: rgb(158, 16, 47);
}

.btn--warning {
    background-color: rgb(232, 172, 21);
    color: #222226;
}

.btn--warning:hover {
    background-color: rgb(199, 141, 15);
}


/* THE ACTUAL TOAST NOTIFICATIONS */
.toast {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 90%;
}

.toast__message {
    position: relative;
    color: #EEE;
    background-color: #334;
    width: 25rem;
    max-width: 100%;
    max-width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.1rem;
    align-items: center;
    font-size: 0.85rem;
    border-left: 3px solid #EEE;
    animation: toast 6s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.toast__icon {
    background-color: rgb(21, 173, 89);
    width: 1.95rem;
    height: 1.95rem;
    border-radius: 50%;
    color: #222226;
    display: grid;
    place-items: center;
}

.toast__icon svg {
    height: 1.3rem;
    width: 1.3rem;
}

.toast__buttons {
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: stretch;
}

.toast__buttons button {
    background-color: rgba(255, 255, 255, .1);
    border: none;
    color: inherit;
    padding: .5rem 1rem;
    cursor: pointer;
}

.toast__buttons button:hover {
    background-color: rgba(255, 255, 255, .2);
}

.toast__close {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 1.5rem;
    font-weight: 100;
    color: #888;
    cursor: pointer;
}


/* ERROR MESSAGES */
.toast__message--error {
    background-color: #334;
    background-image: linear-gradient(to right,
            rgba(136, 7, 35, 0.3),
            rgba(136, 7, 35, 0) 30%);
    border-left: 3px solid rgb(199, 29, 66);
}

.toast__message--error .toast__icon {
    background-color: rgb(199, 29, 66);
}

.toast__message--error .toast__icon svg {
    height: 1.5rem;
    width: 1.5rem;
}

.toast__message--error .toast__heading {
    color: rgb(199, 29, 66);
    margin: 0;
}


/* WARNING MESSAGES */
.toast__message--warning {
    background-color: #334;
    background-image: linear-gradient(to right,
            rgba(145, 93, 10, 0.3),
            rgba(145, 93, 10, 0) 30%);
    border-left: 3px solid rgb(232, 172, 21);
}

.toast__message--warning .toast__icon {
    background-color: rgb(232, 172, 21);
}

.toast__message--warning .toast__icon svg {
    height: 1.5rem;
    width: 1.5rem;
}

.toast__message--warning .toast__heading {
    color: rgb(232, 172, 21);
    margin: 0;
}
.toast__message p {
    margin: 0;
}


/* SUCCESS MESSAGES */
.toast__message--success {
    background-color: #334;
    background-image: linear-gradient(to right,
            rgba(12, 100, 52, 0.3),
            rgba(12, 100, 52, 0) 30%);
    border-left: 3px solid rgb(21, 173, 89);
}

.toast__message--success .toast__icon {
    background-color: rgb(21, 173, 89);
}

.toast__message--success .toast__icon svg {
    height: 1.5rem;
    width: 1.5rem;
}

.toast__message--success .toast__heading {
    color: rgb(21, 173, 89);
    margin-top: 0.8rem;
    margin-bottom: 0;
}

@keyframes toast {
    0% {
        transform: translateY(150%);
        opacity: 0;
    }

    10%,
    90% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

