/*.conf
/doc/frozen*
/doc/kungfupanda*
/doc/time*
/html
/ide/srs_xcode/srs_xcode.xcodeproj/project.xcworkspace/xcshareddata/
/ide/srs_xcode/srs_xcode.xcodeproj/project.xcworkspace/xcuserdata/
/ide/srs_xcode/srs_xcode.xcodeproj/xcuserdata/
/research/aac/
/research/api-server/.idea/
/research/api-server/static-dir/mse
/research/bat/
/research/big/
/research/bitch/
/research/bott/
/research/cgo/
/research/dns/
/research/empty/
/research/golang/
/research/librtmp/*.mp4
/research/licenser/
/research/players/.idea/
/research/players/fls_player/
/research/players/mic/
/research/players/srs_player/.idea/
/research/proxy/
/research/redis-ocluster/
/research/rtmfp/
/research/snap/
/research/speex/
/test/

