#slideshow_wrapper {
	POSITION: relative;
	PADDING-BOTTOM: 0px;
	PADDING-LEFT: 0px;
	WIDTH: 980px;
	PADDING-RIGHT: 0px;
	HEIGHT: 446px;
	OVERFLOW: hidden;
	PADDING-TOP: 0px
}
#slideshow_footbar {
	Z-INDEX: 5;
	POSITION: absolute;
	WIDTH: 100%;
	BOTTOM: 0px;
	HEIGHT: 30px;
}
#slideshow_photo {
	POSITION: absolute;
	WIDTH: 100%;
	HEIGHT: 100%;
	CURSOR: pointer
}
#slideshow_photo A {
	Z-INDEX: 1;
	BORDER-BOTTOM: 0px;
	POSITION: absolute;
	BORDER-LEFT: 0px;
	MARGIN: 0px;
	DISPLAY: block;
	BORDER-TOP: 0px;
	TOP: 0px;
	BORDER-RIGHT: 0px;
	LEFT: 0px
}
#slideshow_footbar .slideshow-bt {
	BACKGROUND-COLOR: #ccc;
	MARGIN: 10px 0px 0px 10px;
	WIDTH: 9px;
	DISPLAY: inline;
	FLOAT: left;
	HEIGHT: 9px;
	border-radius:5px;
	FONT-SIZE: 0px
}
#slideshow_footbar .bt-on {
	BACKGROUND-COLOR: #30b1eb;
	width:9px;
	height:9px;
}
