@charset "utf-8";
/* CSS Document */
* {margin:0; padding:0;word-break:break-all;}
html,body{height:auto;}
html,body,a,h1,h2,h3,h4,h5,h6,p,div,ul,li,ol,dl,dt,dd,img,form,input,textarea,select,fieldset { margin:0px; padding:0px }
body,table,input,select,textarea { font-family:'微软雅黑',Arial; font-size:12px;}
body {}
img { border:0px;}

.td_left { text-align:left; padding-left:3px; background:#FFF;}
.td_right { text-align:right; padding-right:5px;}

.btn_1 { margin:10px 0px; padding:5px 20px; cursor:pointer;}

/*logo
------------------------------------------------------------------------------------------------- */
#logo { width:980px; height:52px; margin:0px auto; color:#FFF; line-height:25px; font-size:12px;}
#logo span { float:right; margin-top:20px; margin-right:10px; line-height:32x;}
#logo span a { margin-left:8px;}

/*主导航
------------------------------------------------------------------------------------------------- */
#nav { width:980px; height:35px; line-height:35px; *line-height:32px; margin:0px auto;}
#nav ul { list-style-type:none; width:inherit; margin:0px auto;}
#nav ul li { float:left; list-style-type:none; width:162.5px; height:35px; padding:0px; text-align:center; display:block; overflow:hidden; background:url(../images/mav_bg.gif) no-repeat; background-position:0px 0px;}
#nav ul li:hover { float:left; list-style-type:none; width:162.5px; height:35px; padding:0px; text-align:center; display:block; overflow:hidden; background:url(../images/mav_bg.gif) no-repeat; background-position:0px -35px;}
#nav ul li.S { float:left; list-style-type:none; width:162.5px; height:35px; padding:0px; text-align:center; display:block; overflow:hidden; background:url(../images/mav_bg.gif) no-repeat; background-position:0px -35px;}

#nav ul li.L { width:162.5px; height:35px; padding:0px;  background:url(../images/mav_bg_l.gif) no-repeat; background-position:0px 0px;}
#nav ul li.L:hover { width:162.5px; height:35px; padding:0px;background:url(../images/mav_bg_l.gif) no-repeat; background-position:0px -35px;}

#nav ul li.R { width:162.5px; height:35px; padding:0px;  background:url(../images/mav_bg_r.gif) no-repeat; background-position:0px 0px;}
#nav ul li.R:hover { width:162.5px; height:35px; padding:0px;background:url(../images/mav_bg_r.gif) no-repeat; background-position:0px -35px;}

#nav ul li.line { width:1px; height:35px; margin:0px 0px; padding:0px; background:#287ab4;}
#nav ul li a { width:inherit; height:35px; line-height:33px; *line-height:32px; font-size:14px; color:#fff; padding:8px 50px;text-decoration:none; box-shadow:0px 0px 1px #4bd2ef inset;}
#nav ul li a:hover { color:#fff; padding:8px 50px;}

/*banner
------------------------------------------------------------------------------------------------- */
#banner { width:980px; height:446px; margin:0px auto; position:relative;}

/*主内容
------------------------------------------------------------------------------------------------- */
#container { width:980px; margin:0px auto 40px auto; padding:0px;}

/*栏目模块
------------------------------------------------------------------------------------------------- */
#module { width:239px; height:160px; float:left; margin-right:8px;}
#module h1 { padding-left:15px; padding-top:15px; font-size:16px; font-weight:normal; color:#333;}
#module h2 { padding-left:15px; padding-top:5px; font-size:12px; color:#000;}
#module p { padding-left:15px; padding-top:5px; padding-right:70px; color:#707070; line-height:20px;}
#module a { color:none; text-decoration:none;}

/*产品模块
------------------------------------------------------------------------------------------------- */
#P_module { width:319px; height:160px; float:left; margin-right:11px; background:url(../images/module_P.gif) no-repeat;}
#P_module h1 { padding-left:15px; padding-top:15px; font-size:16px; font-weight:normal; color:#333;}
#P_module h2 { padding-left:15px; padding-top:5px; font-size:12px; color:#000;}
#P_module p { padding-left:15px; padding-top:5px; padding-right:70px; color:#707070; line-height:20px;}
#P_module a { color:none; text-decoration:none;}

/*列表
------------------------------------------------------------------------------------------------- */
#list { float:left; width:189px; height:230px; margin:0px; *margin-top:20px; background:url(../images/list_bg.gif) no-repeat;}
#list ul { list-style-type:none; width:inherit; margin:0px; padding-left:5px; padding-top:15px;}
#list ul li { width:92%; list-style-type:none; height:25px; line-height:25px;}
#list ul li:hover { color:#000; background:url(../images/arrow.gif) no-repeat right center;}
#list ul li.sel { font-size:14px; color:#000; font-weight:bold; background:url(../images/arrow.gif) no-repeat right center;}
#list ul li a { width:inherit; text-decoration:none; color:#666; padding:6px 10px 6px 10px;}
#list ul li a:hover { width:inherit; color:#000; padding:6px 10px 6px 10px;}

/*产品详细
------------------------------------------------------------------------------------------------- */
#detailed { width:750px; height:360px; margin-left:200px; margin-top:20px; background:url(../images/SCT.jpg) no-repeat; padding:15px;}
#detailed h1 { width:auto; line-height:40px; font-size:36px; font-weight:normal;}
#detailed p { width:90%; padding-top:15px; line-height:28px; font-size:14px;}
#detailed ul { list-style-type:none; width:50%; padding:0px; padding-top:15px;}
#detailed ul li { list-style-type:none; line-height:28px; color:#666;}

/*产品特性
------------------------------------------------------------------------------------------------- */
#feature { width:775px; *width:775px; margin-left:200px;}
#feature h1 { width:auto; line-height:25px; font-size:14px; font-weight:normal; padding-left:15px; border-bottom:1px solid #bfbfbf;}
#feature ul { width:inherit; list-style-type:none; margin-top:10px;}
#feature ul li { width:355px; height:150px; list-style-type:none; padding:15px; margin-bottom:5px; display:block; overflow:hidden; background:url(../images/feature_bg.gif) no-repeat;}
#feature ul li h2 { line-height:23px; font-size:14px; font-weight:normal;}
#feature ul li p { width:inherit; line-height:20px; color:#666;}

/*解决方案 说明
------------------------------------------------------------------------------------------------- */
#explain { width:980px; height:210px; padding-top:20px; padding-bottom:50px; background:url(../images/explain_bg.jpg) no-repeat;}
#explain h1 { width:auto; line-height:40px; padding-left:15px; font-size:30px; font-weight:normal;}
#explain h1 span { float:right; font-size:12px; padding-right:15px;}
#explain h2 { font-size:16px; padding-left:15px; padding-top:10px;}
#explain p { width:60%; padding:15px; margin-top:10px; line-height:28px; font-size:16px;}
#explain ul { list-style-type:none; width:inherit; padding:0px; padding-top:15px; padding-left:15px;}
#explain ul li { list-style-type:none; line-height:28px; color:#666;}

/*解决方案 列表
------------------------------------------------------------------------------------------------- */
#Slist { float:left; width:180px; height:230px; margin:0px; *margin-top:20px; padding-right:6px; border-right:1px dotted #bfbfbf;}
#Slist ul { list-style-type:none; width:inherit; margin:0px; padding-left:5px; padding-top:15px;}
#Slist ul li { width:92%; list-style-type:none; height:25px; line-height:25px;}
#Slist ul li:hover { color:#000; background:url(../images/arrow.gif) no-repeat right center;}
#Slist ul li.sel { font-size:14px; color:#000; font-weight:bold; background:url(../images/arrow.gif) no-repeat right center;}
#Slist ul li a { width:inherit; text-decoration:none; color:#666; padding:6px 10px 6px 10px;}
#Slist ul li a:hover { width:inherit; color:#000; padding:6px 10px 6px 10px;}

/*解决方案
------------------------------------------------------------------------------------------------- */
#solution { width:auto; height:auto; margin-left:200px; margin-top:20px;}
#solution h1 { width:auto; line-height:24px; font-size:18px; font-weight:normal;}
#solution h1 span { float:right; font-size:12px; padding-right:15px;}
#solution h1 span a { color:#999; text-decoration:none;}
#solution h1 span a:hover { color:#09F;}
#solution p { width:auto; padding:15px; margin-top:10px; line-height:28px; font-size:14px; background:#f1f9fd; border:1px solid #bfbfbf; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
#solution ul { list-style-type:none; width:50%; padding:0px; padding-top:15px;}
#solution ul li { list-style-type:none; line-height:28px; color:#666;}

/*招贤纳士
------------------------------------------------------------------------------------------------- */
#career { width:980px; height:auto; margin-top:20px; padding-bottom:20px; background:url(../images/career_bg.jpg) no-repeat;}
#career h1 { width:auto; line-height:40px; padding-left:15px; font-size:30px; font-weight:normal;}
#career h1 span { float:right; font-size:12px; padding-right:15px;}
#career h2 { font-size:14px;}
#career p { width:80%; padding:15px; margin-top:10px; line-height:28px; font-size:14px;}
#career ul { list-style-type:none; width:inherit; padding:0px; padding-top:15px; padding-left:15px;}
#career ul li { list-style-type:none; line-height:28px; color:#666;}

/*招聘
------------------------------------------------------------------------------------------------- */
#recruitment { width:918px; height:auto; padding:30px; background:url(../images/recruitment_bg.jpg); background-repeat:repeat-x; border:1px solid #FFF; *border:1px solid #bfbfbf; box-shadow:0px 2px 3px #999999; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
#recruitment h1 { width:auto; line-height:28px; font-size:18px; font-weight:bold;}
#recruitment h1 span { float:right; font-size:12px; padding-right:15px; font-weight:normal;}
#recruitment p { width:auto; margin-top:10px; line-height:23px; font-size:14px;}
#recruitment ul { list-style-type:none; width:inherit; padding:0px; padding-top:15px; padding-left:15px;}
#recruitment ul li { list-style-type:none; line-height:28px; color:#666;}

/*关于我们
------------------------------------------------------------------------------------------------- */
#aboutUs { width:980px; height:auto; margin-top:20px; padding-bottom:20px; background:url(../images/aboutUs_bg.jpg) no-repeat;}
#aboutUs h1 { width:auto; line-height:40px; padding-left:15px; font-size:30px; font-weight:normal;}
#aboutUs h1 span { float:right; font-size:12px; padding-right:15px;}
#aboutUs h2 { font-size:16px; padding-left:15px; padding-top:10px;}
#aboutUs p { width:80%; padding:15px; margin-top:10px; line-height:28px; font-size:14px;}
#aboutUs ul { list-style-type:none; width:inherit; padding:0px; padding-top:15px; padding-left:15px;}
#aboutUs ul li { list-style-type:none; line-height:28px; color:#666;}

/*联系我们
------------------------------------------------------------------------------------------------- */
#contactUs { width:980px; height:auto; padding-top:20px; padding-bottom:0px; background:url(../images/contactUs_bg.jpg) no-repeat;}
#contactUs h1 { width:auto; line-height:40px; padding-left:15px; font-size:30px; font-weight:normal;}
#contactUs h1 span { float:right; font-size:12px; padding-right:15px;}
#contactUs h2 { font-size:16px; padding-left:15px; padding-top:10px;}
#contactUs p { width:80%; padding:15px; margin-top:10px; line-height:28px; font-size:14px;}
#contactUs ul { list-style-type:none; width:inherit; padding:0px; padding-top:15px; padding-left:15px;}
#contactUs ul li { list-style-type:none; line-height:28px; color:#000;}

/*地图
------------------------------------------------------------------------------------------------- */
#map { width:918px; height:550px; padding:30px; background:url(../images/recruitment_bg.jpg); background-repeat:repeat-x; border:1px solid #FFF; *border:1px solid #bfbfbf; box-shadow:0px 2px 3px #999999; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
#map h1 { width:auto; line-height:28px; font-size:18px; font-weight:bold;}
#map h1 span { float:right; font-size:12px; padding-right:15px;}
#map h1 span a { color:#999; text-decoration:none;}
#map h1 span a:hover { color:#09F;}
#map p { width:auto; margin-top:10px; line-height:23px; font-size:14px; background:; }
#map ul { list-style-type:none; width:inherit; padding:0px; padding-top:15px; padding-left:15px;}
#map ul li { list-style-type:none; line-height:28px; color:#666;}

/*体验中心
------------------------------------------------------------------------------------------------- */
#experience { width:485px; height:160px; float:left; margin-right:10px;}
#experience h1 { padding-left:15px; padding-top:15px; font-size:30px; font-weight:normal; color:#333;}
#experience h2 { padding-left:15px; padding-top:5px; font-size:12px; color:#000;}
#experience p { padding-left:15px; padding-top:5px; padding-right:70px; color:#707070; line-height:20px;}
#experience a { color:none; text-decoration:none;}

/*演示
------------------------------------------------------------------------------------------------- */
/*#demonstrate { width:750px; height:360px; margin-left:200px; margin-top:20px; background:#999; padding:15px;}*/
#demonstrate { width:750px; height:360px; margin-left:200px; margin-top:20px; background:url(../images/wait.jpg); padding:0px;}
#demonstrate h1 { width:auto; line-height:28px; font-size:18px; font-weight:normal;}
#demonstrate p { width:inherit; padding-top:15px; line-height:28px; font-size:14px;}
#demonstrate ul { list-style-type:none; width:50%; padding:0px; padding-top:15px;}
#demonstrate ul li { list-style-type:none; line-height:28px; color:#666;}

/*Copyright
------------------------------------------------------------------------------------------------- */
#footer { width:980px; height:100px; margin:0px auto; padding-top:15px; font-size:11px; color:#666; line-height:20px; border-top:1px solid #bfbfbf; clear:both;}
#footer span { float:right;}