[codespell]

# Enable built-in dictionaries/rules.
# See more details for https://github.com/codespell-project/codespell/tree/main/codespell_lib/data.
builtin = clear,rare,informal,code

# Ignore words listed in this file.
ignore-words = ./scripts/codespell/codespell_whitelist.txt
ignore-regex = TEST\(.*\)

# Add custom dictionary file.
dictionary = ./scripts/codespell/codespell_dictionary.txt,-

# Skip checking files or directories.
skip = ./build/*,./.git/*

